.flex-container {
    display: flex;
    gap: 20px; /* Tambahkan jarak antar elemen */
}

.flex-container div {
    display: flex;
}

form {
    margin: 0; /* Hilangkan margin default pada form */
}
